.tablet {
	display: none;
}
#page-header {
	border-bottom: 1px solid @cp;
	.logo {
		position: relative;
		float: right;
		margin: 38px 54px -31px 0;
		&:before{
			position: absolute;
			content: '';
			bottom: -5px;
			left: 50%;
			width: 176px;
			height: 36px;
			margin-left: -88px;
			background: url(../images/bg/01.png) no-repeat;
		}
		a {
			position: relative;
			display: block;
			width: 90px;
			height: 110px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.title {
		.fh;
		text-transform: uppercase;
		margin: 43px 0 0;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: 0.022em;
		font-weight: bold;
		a {
			text-decoration: none;
			color: @cp;
			mark {
				color: @cp;
				display: block;
				font-weight: normal;
				font-size: 16px;
				letter-spacing: 0.02em;
				margin: 0 0 4px;
			}
			small {
				font-weight: normal;
				font-size: 16px;
				letter-spacing: 0.05em;
				margin-left: 15px;
			}
		}
	}
}
#mainmenu {
	background: @green;
}
.home-left {
	width: 50%;
	float: left;
	padding: 0 20px 0 0;
}
.home-right {
	width: 50%;
	float: left;
	padding: 0 0 0 50px;
}
#content {
	padding: 30px 0;
}
#page-footer {
	min-width: @content-width;
	background: #ececec;
	.inner {
		padding: 50px 0;
		background: url(../images/bg/04.png) no-repeat right top;
	}
	.title {
		.fh;
		position: relative;
		float: left;
		width: 71%;
		padding: 32px 0 31px;
		border-top: 1px solid #c4c7d3;
		font-weight: bold;
		font-size: 22px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: fade(#fff,70%);
		}
		a {
			color: @cp;
			text-decoration: none;
		}
		small {
			font-weight: normal;
			margin-left: 15px;
			font-size: 16px;
			letter-spacing: 0.05em;
		}
	}
	.copyright {
		clear: both;
		position: relative;
		border-top: 1px solid #c4c7d3;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: fade(#fff,70%);
		}
		.copy {
			margin: 25px 0;
			float: left;
			font-size: 13px;
		}
		.xart {
			float: right;
			font-size: 11px;
			margin: 25px 0;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
			img {
				float: right;
				margin: -2px -4px 0 10px;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @green;
		color: #fff;
		text-decoration: none;
		border: 1px solid #fff;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e135';
			font-size: 20px;
		}
		&:hover{
			background: @lightgreen;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}