@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 720px;
	.container {
		width: @content-width;
	}
	.tablet {
		display: block;
	}
	#page-footer {
		min-width: @content-width;
	}
	#page-header {
		.logo {
			margin-bottom: 10px;
			margin-top: 10px;
			&:before{
				display: none;
			}
		}
		.title {
			margin-top: 30px;
			a {
				mark {
				}
				small {
					margin-left: 0;
					display: block;
				}
			}
		}
	}
	.home-left {
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.home-right {
		width: 100%;
		float: none;
		padding-left: 0;
	}
	#page-footer {
		.inner {
			padding: 30px 0;
			background: none;
		}
		.title {
			float: none;
			clear: both;
			width: 100%;
		}
	}
	.mod_custom-slideshow {
		min-width: @content-width;
		.items {
			height: 300px;
			.item {
				height: 300px;
				.caption {
					font-size: 36px;
				}
			}
		}
	}
	.mod_custom-ecatcher {
		.items {
			.item {
				float: none;
				width: 100%;
				h2 {
					margin-bottom: 10px;
				}
				.icon {
					width: 50px;
					height: 50px;
					line-height: 50px;
					margin-top: -3px;
					font-size: 38px;
				}
			}
		}
	}
	.mod_custom-category {
		min-width: @content-width;
		.inner {
			margin: 0;
			padding: 30px 0 0;
			.items {
				.clearfix;
				margin: 0 -10px;
				.item {
					padding-left: 10px;
					padding-right: 10px;
					font-size: 13px;
					a {
						h2 {
							font-size: 17px;
						}
					}
				}
			}
		}
	}
	.mod_custom-products {
		.items {
			.item {
				width: 50%;
			}
		}
	}
	.mod_custom-partner {
		margin-left: 130px;
		margin-right: 130px;
	}
	.mod_menu-footer {
		width: 50%;
	}
	.mod_menu-footer-icons {
		width: 50%;
		ul {
			li {
				float: none;
			}
		}
	}
	.mod_search{
		.row{
			.col3{
				width: 50%;
			}
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-footer {
		min-width: @content-width;
	}
	#page-header {
		.logo {
			float: none;
			margin: 10px auto;
			text-align: center;
			&:before{
				display: none;
			}
			a {
				display: inline-block;
			}
		}
		.title {
			margin: 10px 0;
			text-align: center;
			a {
				small {
					display: block;
					margin-left: 0;
				}
			}
		}
	}
	.home-left {
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.home-right {
		width: 100%;
		float: none;
		padding-left: 0;
	}
	#page-footer {
		.inner {
			padding: 30px 0;
			background: none;
		}
		.title {
			float: none;
			clear: both;
			width: 100%;
			text-align: center;
			small {
				display: block;
				margin-left: 0;
			}
		}
	}
	.mod_menu-main {
		ul {
			.rul;
			margin: 17px 0 16px;
			overflow: hidden;
			li {
				display: block;
				white-space: normal;
				line-height: 1.2;
				border-left: 0;
				padding: 0;
				margin: 0;
				border-top: 1px solid fade(#fff,40%);
				&:before{
					display: none;
				}
				&:first-child {
					border-top: 0;
				}
				a {
					display: block;
					padding: 10px;
				}
				&.act {
					&:after{
						display: none;
					}
					a {
						background: fade(#fff,20%);
					}
				}
			}
		}
	}
	.mod_menu-submenu {
		ul {
			margin: 0;
			li {
				display: block;
				line-height: 1.2;
				white-space: normal;
				padding: 0;
				border-top: 1px solid fade(#000,10%);
				&:before{
					display: none;
				}
				&:first-child {
					border-top: 0;
				}
				a {
					display: block;
					padding: 5px 10px;
				}
				&.act {
					a {
						text-decoration: none;
						background: fade(#000,10%);
					}
				}
			}
		}
	}
	.mod_custom-slideshow {
		display: none;
	}
	.mod_custom-ecatcher {
		.items {
			.item {
				float: none;
				width: 100%;
				h2 {
					margin-bottom: 10px;
				}
			}
		}
	}
	.mod_custom-category {
		min-width: @content-width;
		background: none;
		.inner {
			margin: 0;
			background: none;
			.items {
				.clearfix;
				margin: 0 -20px;
				.item {
					.fh;
					float: none;
					width: 100%;
				}
			}
		}
	}
	.mod_custom-products {
		.items {
			.item {
				float: none;
				width: 100%;
			}
		}
	}
	.mod_menu-footer {
		float: none;
		width: 100%;
		padding: 0 0 20px;
		ul {
			.rul;
			li {
				.rli;
				.fh;
				font-size: 14px;
				line-height: 1.2;
				padding: 0 0 0 15px;
				margin: 0 0 8px;
				&:before{
					content: '\e112';
					top: 0;
					color: @green;
				}
				a {
					text-decoration: none;
					color: @cp;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.mod_menu-footer-icons {
		float: none;
		width: 100%;
		ul {
			li {
				float: none;
			}
		}
	}
	.mod_search{
		.row{
			.col3{
				width: 100%;
				float: none;
			}
		}
	}
	.main-header {
		.icon {
			float: left;
			width: 100px;
			span {
				width: 80px;
				height: 80px;
				line-height: 80px;
				font-size: 58px;
			}
		}
		.content {
			margin: 0 0 0 100px;
		}
	}
	.detail-images {
		float: none;
		width: 100%;
		padding-right: 0;
		ul {
			li {
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
		.buttons {
			margin: 10px 0;
			a {
				display: block;
			}
		}
	}
	.detail-content {
		float: none;
		width: 100%;
		padding-left: 0;
		.attributes {
			width: 100%;
			th,td {
				display: block;
				width: 100%;
				padding: 0;
			}
			th {
				border-top: none;
			}
			td {
				padding-bottom: 20px;
			}
		}
	}
}