@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_regularitalic-webfont.eot');
    src: url('skodapro_regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_regularitalic-webfont.woff2') format('woff2'),
         url('skodapro_regularitalic-webfont.woff') format('woff'),
         url('skodapro_regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_regular-webfont.eot');
    src: url('skodapro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_regular-webfont.woff2') format('woff2'),
         url('skodapro_regular-webfont.woff') format('woff'),
         url('skodapro_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_medium-webfont.eot');
    src: url('skodapro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_medium-webfont.woff2') format('woff2'),
         url('skodapro_medium-webfont.woff') format('woff'),
         url('skodapro_medium-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_mediumitalic-webfont.eot');
    src: url('skodapro_mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_mediumitalic-webfont.woff2') format('woff2'),
         url('skodapro_mediumitalic-webfont.woff') format('woff'),
         url('skodapro_mediumitalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_lightitalic-webfont.eot');
    src: url('skodapro_lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_lightitalic-webfont.woff2') format('woff2'),
         url('skodapro_lightitalic-webfont.woff') format('woff'),
         url('skodapro_lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_light-webfont.eot');
    src: url('skodapro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_light-webfont.woff2') format('woff2'),
         url('skodapro_light-webfont.woff') format('woff'),
         url('skodapro_light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_extrabold-webfont.eot');
    src: url('skodapro_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_extrabold-webfont.woff2') format('woff2'),
         url('skodapro_extrabold-webfont.woff') format('woff'),
         url('skodapro_extrabold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_extrabolditalic-webfont.eot');
    src: url('skodapro_extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_extrabolditalic-webfont.woff2') format('woff2'),
         url('skodapro_extrabolditalic-webfont.woff') format('woff'),
         url('skodapro_extrabolditalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_bolditalic-webfont.eot');
    src: url('skodapro_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_bolditalic-webfont.woff2') format('woff2'),
         url('skodapro_bolditalic-webfont.woff') format('woff'),
         url('skodapro_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Skoda Pro';
    src: url('skodapro_bold-webfont.eot');
    src: url('skodapro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('skodapro_bold-webfont.woff2') format('woff2'),
         url('skodapro_bold-webfont.woff') format('woff'),
         url('skodapro_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}